<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de senha SISE</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
    <br>
    <!--Texto de apresentação do sistema-->
    <div class="container text-center">
        <div class="card card-body">
            <h1>BEM VINDO!</h1>
            <h6>Preencha o formulário abaixo para gerar seu usuário e senha para acessar os seguintes sistemas UNICAMP:<br>
                SISE, Email institucional...</h6>
        </div>
        
        <!--Formulário onde recebe os dados do usuário-->
        <br>

        <div class="formulario">
            <form id="campos_form" method="post" action="{% url 'gera-senha' %}" >

                {% csrf_token %}

                <div class="inputs">
                    <div>
                        {% if form.usuario_desejado.errors %}
                            {{ form.usuario_desejado }}
                            <p class="text-danger">{{ form.usuario_desejado.errors|join:", " }}</p>
                        {% else %}
                            <input type="text" id="{{ form.usuario_desejado.id_for_label }}" name="{{ form.usuario_desejado.name }}" placeholder="Usuário desejado">
                        {% endif %}
                    </div>
                <br>
                    <div>
                        {% if form.nome_completo.errors %}
                            {{ form.nome_completo }}
                            <p class="text-danger">{{ form.nome_completo.errors|join:", " }}</p>
                        {% else %}
                            <input type="text" id="{{ form.nome_completo.id_for_label }}" name="{{ form.nome_completo.name }}" placeholder="Nome completo">
                        {% endif %}
                    </div>
                <br>
                    <div>
                        {% if form.matricula.errors %}
                            {{ form.matricula }}
                            <p class="text-danger">{{ form.matricula.errors|join:", " }}</p>
                        {% else %}
                            <input type="text" id="{{ form.matricula.id_for_label }}" name="{{ form.matricula.name }}" placeholder="Matrícula">
                        {% endif %}
                    </div>
                <br>
                    <div>
                        {% if form.email.errors %}
                            {{ form.email }}
                            <p class="text-danger">{{ form.email.errors|join:", " }}</p>
                        {% else %}
                            <input type="email" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" placeholder="Email">
                        {% endif %}
                    </div>
                <br>
                    <div class="col-md-12 mb-6">
                    
                        {{ form.vinculo }}
                        {% if form.vinculo.errors %}
                            <p class="text-danger">{{ form.vinculo.errors|join:", " }}</p>
                        {% endif %}
                    </div>
                </div>
                
                <br>

                <div class="col-md-12 mb-8">
                    <button id="gerasenha" class="btn btn-primary" type="submit" name="executafuncao">Gerar senha
                        provisória</button><br> <!--botão que gera a senha-->
                </div>
            </form>
        </div>
        <br>
        {% if msg_sucesso %}
            <div class="alert alert-success">
                {{msg_sucesso}}
            </div>
        {% endif %}

        {% if mensagem_erro %}
            <div class="alert alert-danger" role="alert">
                {{mensagem_erro}}
            </div>        
        {% endif %}
        
        <div id="card-contatos">            
            <p>Dúvidas?<br>
                Fone: (19) 3521-7360/ 3521-7068<br>
                email: sac@hc.unicamp.br
            </p>
        </div>
    </div>

    <!--Rodapé-->
    <div class="card-footer text-muted text-center">
        <p>Desenvolvido por SAC-HC UNICAMP</p>
    </div>
</body>
</html>
